@keyframes shakeRight {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
.shake {
animation: shakeRight 0.6s ease-in-out;
}
